body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 60px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

.form-container {
    background: white;
    padding: 40px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 60%;
    max-width: 800px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input {
    width: calc(100% - 20px);
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.submit-btn {
    background: #004225;
    color: #FFD100;
    padding: 10px 20px; 
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
}

.submit-btn:hover {
    background: #00ad61;
}
